---
layout: home
title: Home
slug: home
lead: 
base_url: "../"
---
<body onload="mixpanel.track('~page load: facebook ca')">
<link href="{{ page.base_url }}dist/css/ca.css" rel="stylesheet">
<main id="content" role="main">
  <div class="jumbotron hero" id="home">
    <div class="container">
      <div class="text-center">
        <h2 class="home-lead">Design & Manage Events Like A Pro</h2>
        <h3 class="home-sub">HoneyBook helps your business look as professional as your events.</h3>
        <div class="row text-center">
          <div class="">
          <!-- <button class="btn btn-primary btn-lg btn-home" id="home-sign-up">APPLY NOW</button> -->
            <div class="text-center">
                <button id="home-btn" track="~request form" class="btn btn-primary btn-lg btn-home">REQUEST ACCESS</button>
            </div>
            <div id="home-form" style="display:none;">
              {% include forms/ca_form.html %}
            </div>
          </div>
        </div>
       <!--  <i class="fa fa-2x fa-chevron-down light text-center fa-home-container"></i> -->
      </div>
    </div>
  </div>
  {% include services.html %}
  {% include customers.html %}
  {% include getting_started.html %}
</main>