---
layout: home
title: Home
slug: home
lead: 
base_url: "../"
---
<link href="{{ page.base_url }}dist/css/planner.css" rel="stylesheet">
<body onload="mixpanel.track('~page load: planner lp')">
<main id="content" role="main">
  <div class="jumbotron hero" id="home-planner-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="home-lead-b">Manage Events Like A Pro</h2>
          <h3 class="home-sub-b">Design, organize and grow your business with HoneyBook.</h3>
        </div>
        <div class="col-lg-4">
          <div id="home-form-open">
            <h4 class="form-title">Join Hundreds Of Amazing Creative Professionals</h4>
            <p class="form-lead">No Commitment • No Credit Card Required</p>
            <script charset="utf-8" src="https://js.hsforms.net/forms/current.js"></script>
            <script>
              hbspt.forms.create({ 
                portalId: '421588',
                formId: '81ac4c5d-190d-49da-97e1-0cc6ae54b922',
                css: '.hbst-form:width:100%;'
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include services.html %}
  {% include video.html %}
  {% include features.html %}
  {% include customers.html %}
  {% include getting_started_demo.html %}
</main>