---
layout: invite_layout
title: Home
slug: home
lead: 
base_url: "../"
---
<body onload="mixpanel.track('~page load: referral')">
<main id="content" role="main">
  <div class="jumbotron hero" id="home">
    <div class="container">
      <div class="text-center">
        <h2 class="home-lead">Welcome To HoneyBook</h2>
        <h3 class="home-sub">Build your network and collaborate seamlessly on exceptional events with HoneyBook.</h3>
        <div class="row text-center">
          <div class="">
          <!-- <button class="btn btn-primary btn-lg btn-home" id="home-sign-up">APPLY NOW</button> -->
            {% include invite_form.html %}
          </div>
        </div>
       <!--  <i class="fa fa-2x fa-chevron-down light text-center fa-home-container"></i> -->
      </div>
    </div>
  </div>
  {% include services.html %}
  {% include async_scripts.html %}
  {% include customers.html %}
  {% include footer.html %}
</main>