---
layout: home
title: Home
slug: home
lead: 
base_url: "../"
---
<body onload="mixpanel.track('~page load: submission')">
<main id="content" role="main">
  <div class="jumbotron hero" id="home">
    <div class="container">
      <div class="text-center">
        <h2 class="home-lead">Thank You!</h2>
        <h3 class="home-sub">Someone from HoneyBook will be in touch shortly. If you have any questions, please don’t hesitate to <a href="mailto:info@honeybook.com">email</a> us.</h3>
        <div class="row text-center">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <h3 class="home-sub">Follow us on:</h3>
          <a track="~lp fb thank you" href="https://www.facebook.com/honeybook.co" target="blank"><i class="fa fa-2x fa-facebook fa-thank-you"></i></a>
          <a track="~lp tw thank you" href="https://twitter.com/honeybook" target="blank"><i class="fa fa-2x fa-twitter fa-thank-you"></i></a>
          <a track="~lp ins thank you" href="http://instagram.com/honeybook" target="blank"><i class="fa fa-2x fa-instagram fa-thank-you"></i></a>
          </div>
        </div>
       <!--  <i class="fa fa-2x fa-chevron-down light text-center fa-home-container"></i> -->
      </div>
    </div>
  </div>
  {% include services.html %}
  {% include customers.html %}
  {% include getting_started.html %}
</main>