---
layout: home
title: Home
slug: home
lead: 
base_url: "../"
---
<link href="{{ page.base_url }}dist/css/elevate.min.css" rel="stylesheet">
<body onload="mixpanel.track('~page load: messaging elevate')">
<main id="content" role="main">
  <div class="jumbotron hero" id="home">
    <div class="container">
      <div class="text-center">
        <h2 class="home-lead">Stand Out From The Crowd</h2>
        <h3 class="home-sub">Amaze your clients from the first impression through proposals, bookings and payments.</h3>
        <div class="row text-center">
          <div class="">
          <!-- <button class="btn btn-primary btn-lg btn-home" id="home-sign-up">APPLY NOW</button> -->
          </div>
        </div>
       <!--  <i class="fa fa-2x fa-chevron-down light text-center fa-home-container"></i> -->
      </div>
    </div>
  </div>
  {% include services.html %}
  {% include async_scripts.html %}
  {% include customers.html %}
  {% include getting_started.html %}
</main>