<div class="enterprise-contact-form-header"><h2 class="text-center">How Can We Help?</h2></div>
<div class="enterprise-contact-form">
  <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://betasales.wufoo.com/forms/z13q3b5l1pltdt2/#public">

<ul>

<li id="foli1" class="notranslate      ">
<label class="desc" id="title1" for="Field1">
Name
</label>
<div class="form-group">
<input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" />
</div>
</li>
<li id="foli2" class="notranslate      ">
<label class="desc text-muted" id="title2" for="Field2">
Email
</label>
<div class="form-group">
<input id="Field2" name="Field2" type="text" class="field text medium" value="" maxlength="255" tabindex="2" onkeyup="" />
</div>
</li>
<li id="foli3" class="notranslate      ">
<label class="desc text-muted" id="title3" for="Field3">
Company
</label>
<div class="form-group">
<input id="Field3" name="Field3" type="text" class="field text medium" value="" maxlength="255" tabindex="3" onkeyup="" />
</div>
</li>
<li id="foli4" class="notranslate       ">
<label class="desc text-muted" id="title4" for="Field4">
Annual Revenue
</label>
<div class="form-group">
<select id="Field4" name="Field4" class="field select medium" tabindex="4" >
<option value="0" selected="selected">
0
</option>
<option value="&lt; $10,000" >
< $10,000
</option>
<option value="&lt; $100,000" >
< $100,000
</option>
<option value="&lt; $250,000" >
< $250,000
</option>
<option value="&lt; $500,000" >
< $500,000
</option>
<option value="Over $500,000" >
Over $500,000
</option>
</select>
</div>
</li>
<li id="foli5" class="notranslate       ">
<label class="desc text-muted" id="title5" for="Field5">
Customer Count
</label>
<div class="form-group">
<select id="Field5" name="Field5" class="field select medium" tabindex="5" >
<option value="0" selected="selected">
0
</option>
<option value="1 - 10" >
1 - 10
</option>
<option value="20 - 50" >
20 - 50
</option>
<option value="50+" >
50+
</option>
</select>
</div>
</li>
<li id="foli7" class="notranslate       ">

<div class="form-group">
<label class="desc text-muted" id="title7" for="Field7">
Do you have a VP of Sales or Dir. of Sales?
</label>
<select id="Field7" name="Field7" class="field select medium" tabindex="6" >
<option value="Yes" selected="selected">
Yes
</option>
<option value="NO" >
NO
</option>
</select>
</div>
</li> <li class="buttons ">
<div class="form-group">

  <input id="saveForm" name="saveForm" class="btTxt submit btn btn-lg btn-primary" type="submit" value="Submit"
 /></div>
</li>

<li class="hide" display="none">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
<input type="hidden" id="idstamp" name="idstamp" value="8KSOAecMYj27kaQgRJKaARRx45swQU13qK4aRZO5ovY=" />
</li>
</ul>
</form> 
 
<!--   <div class="text-center"><button class="btn btn-lg btn-primary" id="enterprise-contact-btn">SEND</button></div> -->
</div>



<!--  <form role="form">
    <div class="form-group">
      <label class="text-muted" for="exampleInputEmail1">Full Name <span class="required-form">*</span></label>
      <input type="first name" class="input-lg form-control" id="inputFirstName">
    </div>
    <div class="form-group">
      <label class="text-muted" for="exampleInputPassword1">Work Email <span class="required-form">*</span></label>
      <input type="work email" class="input-lg form-control" id="inputWorkEmail">
    </div>
    <div class="form-group">
      <label class="text-muted" for="exampleInputPassword1">Company</label>
      <input type="company name" class="input-lg form-control" id="inputCompanyName">
    </div>
    <div class="form-group">
      <label class="text-muted" for="exampleInputPassword1">Phone Number</label>
      <input type="phone number" class="input-lg form-control" id="inputPhoneNumber">
    </div>
    <div class="form-group">
      <label class="text-muted" for="exampleInputPassword1">Leave Message</label>
      <textarea type="message" class="input-lg form-control" id="inputMessage" rows="2"></textarea>
    </div>
  </form> -->

