<section class="features">
	<div class="container">
	<h2 class="lead community-lead text-center">Manage Everything In One Place</h2>
	<p class="services-sub text-center">We take care of details so you can focus on building your business.</p>
		<div class="row row-features text-center">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<i class="fa fa-list-alt fa-3x fa-feature"></i>
				<h4 class="feature-title">Lead Form</h4>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<i class="fa fa-tasks fa-3x fa-feature"></i>
				<h4 class="feature-title">Questionnaire</h4>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<i class="fa fa-filter fa-3x fa-feature"></i>
				<h4 class="feature-title">Dashboard</h4>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<i class="fa fa-calendar fa-3x fa-feature"></i>
				<h4 class="feature-title">Calendar</h4>
			</div>
		</div>
		<div class="row row-features text-center">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<i class="fa fa-file-powerpoint-o fa-3x fa-feature"></i>
				<h4 class="feature-title">Custom Proposals</h4>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<i class="fa fa-credit-card fa-3x fa-feature"></i>
				<h4 class="feature-title">Payments</h4>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<i class="fa fa-file-text-o fa-3x fa-feature"></i>
				<h4 class="feature-title">Contracts</h4>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<i class="fa fa-check-square-o fa-3x fa-feature"></i>
				<h4 class="feature-title">Reminders</h4>
			</div>
		</div>
	</div>
</section>