  <section class="get-going">
    <div class="container">
      <h2 class="lead footer-lead text-center">Get A Free Demo Now</h2>
<!--        <h3 class="home-sub text-center">Keep your business organized and running smoothly so you can focus on clients, vendors and great events.</h3> -->
      <div class="text-center">
          <button track="~footer sign up" class="btn btn-primary btn-lg btn-home btn-footer" id="home-sign-up-footer">START CONSULTATION</button>
      </div>
    </div>
  </section>