<section class="getting-started">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="step">
					<div class="step-inner">
						<img class="img-responsive center-block img-started" src="{{ page.base_url }}dist/img/schedule.png"></img>
					</div>
					<p class="profession">Schedule some time with one of our product specialists</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="step">
					<div class="step-inner">
						<img class="img-responsive center-block img-started" src="{{ page.base_url }}dist/img/consult.png"></img>
					</div>
					<p class="profession">Let us walk you through the HoneyBook product to see if we’re a good fit</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="step">
					<div class="step-inner">
						<img class="img-responsive center-block img-started" src="{{ page.base_url }}dist/img/setup.png"></img>
					</div>
					<p class="profession">Send over your documents and we’ll build your account for you</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
          <button id="home-sign-up-footer" track="~request form" class="btn btn-primary btn-lg btn-home">GET STARTED NOW</button>
      </div>
		</div>
	</div>
</section>