<header class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
<!--       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a target="blank" href="http://honeybook.com"><img src="https://s3-us-west-1.amazonaws.com/honeybook/honeybook_logo_w.png" class="navbar-brand"></img></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.slug == "js" %} class="active"{% endif %}>
          <a track="~messaging lp blog" href="http://blog.honeybook.com/">Blog</a>
        </li>
        <li{% if page.slug == "js" %} class="active"{% endif %}>
          <a track="~messaging lp about" href="https://www.honeybook.com/#about">About</a>
        </li>
        <li{% if page.slug == "login" %} class="active"{% endif %}>
          <a track="~messaging lp contact" href="https://www.honeybook.com/#contact_us">Contact</a>
        </li>
<!--         <li{% if page.slug == "about" %} class="active"{% endif %}>
          <button type="button" href="#" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#sign-up-modal">APPLY NOW</button>
        </li> -->
      </ul>
    </nav>
  </div>
</header>