<section class="pipeline">
	<h2 class="lead community-lead text-center">Meet The Pipeline</h2>
	<p class="services-sub text-center">Finally, a workflow that works for venue managers. You're free to move each client in and out of every stage — and for your convenience, we'll move clients into action-based stages based on updates.</p>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
			<img class="img-responsive img-pipeline center-block" src="{{ page.base_url }}dist/img/pipeline.png"></img>
		</div>
	</div>
</section>