<section class="services text-center">
    <div class="container">
      <h2 class="lead community-lead text-center">Think Happy Customers, Think HoneyBook</h2>
      <div class="row services-row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="services-container container-brand">
            <div class="services-header services-brand">
              <h4 class="services-title">Elevate Your Brand</h4>
            </div>
            <div class="services-inner">
              <i class="fa fa-file-text-o fa-3x fa-services brand"></i>
              <h2 class="services-lead brand">Proposals</h2>
              <p class="services-details">Create custom proposals in minutes that impress your clients and vendors</p>
            </div>      
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="services-container container-organized">
            <div class="services-header services-organized">
              <h4 class="services-title">Stay Organized</h4>
            </div>
            <div class="services-inner">
              <i class="fa fa-credit-card fa-3x fa-services organized"></i>
              <h2 class="services-lead organized">Payments</h2>
              <p class="services-details">Easily schedule payments that your customers can complete in a click</p>
            </div>      
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="services-container container-collaboration">
            <div class="services-header services-collaboration">
              <h4 class="services-title">Work Together</h4>
            </div>
            <div class="services-inner">
              <i class="fa fa-group fa-3x fa-services collaboration"></i>
              <h2 class="services-lead collaboration">Collaboration</h2>
              <p class="services-details">Build an amazing network and collaborate seamlessly with clients and vendors</p>
            </div>      
          </div>
        </div>
      </div>  
    </div>
  </section>