<ul class="footer-links social-buttons">
  <li><a href="https://github.com/ElasticBox" target="blank"><button class="btn btn-sm btn-social btn-footer"><i class="fa fa-github"></i> GITHUB</button></a></li>
  <li><a href="https://twitter.com/ElasticBox" target="blank"><button class="btn btn-sm btn-social btn-footer"><i class="fa fa-twitter"></i> TWITTER</button></a></li>
  <li><a href="https://plus.google.com/106309790790896390635" target="blank"><button class="btn btn-sm btn-social btn-footer"><i class="fa fa-google-plus"></i> GOOGLE+</button></a></li>
  <li><a href="http://www.linkedin.com/company/elasticbox" target="blank"><button class="btn btn-sm btn-social btn-footer"><i class="fa fa-linkedin"></i> LINKEDIN</button></a></li>
</ul>

