<section class="services text-center">
    <div class="container">
      <h2 class="lead community-lead text-center">What Is HoneyBook</h2>
      <p class="services-sub">You’ve got a lot of moving parts: documents, deadlines, emails, clients. HoneyBook organizes them all in one place so you can focus on your business.</p>
      <div class="row services-row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="services-container container-brand">
            <div class="services-header services-brand">
              <h4 class="services-title">Book Events Faster</h4>
            </div>
            <div class="services-inner">
              <i class="fa fa-file-text-o fa-3x fa-services brand"></i>
              <h2 class="services-lead brand">Contracts</h2>
              <p class="services-details">Create custom contracts in minutes that impress your clients and vendors</p>
            </div>      
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="services-container container-organized">
            <div class="services-header services-organized">
              <h4 class="services-title">Stay More Organized</h4>
            </div>
            <div class="services-inner">
              <i class="fa fa-calendar fa-3x fa-services organized"></i>
              <h2 class="services-lead organized">Organization</h2>
              <p class="services-details">Easily keep all your contracts and invoinces organized when you're busy</p>
            </div>      
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="services-container container-collaboration">
            <div class="services-header services-collaboration">
              <h4 class="services-title">Keep Track Of Progress</h4>
            </div>
            <div class="services-inner">
              <i class="fa fa-line-chart fa-3x fa-services collaboration"></i>
              <h2 class="services-lead collaboration">Reporting</h2>
              <p class="services-details">Get detailed reports on quarlerly and yearly progress along with payments</p>
            </div>      
          </div>
        </div>
      </div>  
    </div>
  </section>