<section class="why-invite">
	<div class="container">
		<p class="services-sub text-center">It’s always nice to meet a friend of a friend. We want to build the best newtwork for event professionals. Here's why we think you can help.</p>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="invite-block community">
					<h3 class="text-center">Build Community</h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="invite-block relationships">
					<h3 class="text-center">Build Relationships</h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="invite-block collaboration">
					<h3 class="text-center">Collaborate Better</h3>
				</div>
			</div>
		</div>
	</div>
</section>