<section class="why-invite">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="invite-block community">
					<h3 class="text-center">Build Community</h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="invite-block relationships">
					<h3 class="text-center">Build Relationships</h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="invite-block collaboration">
					<h3 class="text-center">Collaborate Better</h3>
				</div>
			</div>
		</div>
	</div>
</section>