* {
	padding: 0px;
	margin: 0px;
}

body {
	position: relative;
	background: url('images/bgbg.png') no-repeat center top;
}

#main {
	background: url('images/bg.png') no-repeat;
	width: 943px;
	height: 2504px;
	margin: -1px auto 0 auto;
	position: relative;
}

#cta {
	position: absolute;
    background: url('images/cta.png');
    width: 302px;
    height: 420px;
    top:173px;
    right:32px;
    cursor: pointer;
}

.cta-open {
    background: url('images/cta-open.png') !important;
    height: 763px !important;
}


#btn-cta {
	position: absolute;
	bottom: 30px;
	left: 18px;
	cursor: pointer;
}


.sticky {
	top:-277px !important;
	position: fixed !important;
    right: 50% !important;
    margin-right: -439px !important;
}


#modal {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height:100%;
	background: rgba(255,255,255,0.8);
	z-index: 100;
	display: none;
}

#contact-01 {
	position: absolute;
	left: 50%;
	margin-left: -182px;
	top:100px;
	cursor: pointer;
}

#contact-02 {
	position: absolute;
	left: 50%;
	margin-left: -182px;
	top:100px;
	display: none;
	cursor: pointer;
}

#contact-03 {
	position: absolute;
	left: 50%;
	margin-left: -182px;
	top:100px;
	display: none;
	cursor: pointer;
}












#photographer {
	background: url('images/photographer-off.png');
	width: 266px;
	height: 46px;
	cursor: pointer;
	position: absolute;
	left: 18px;
	top: 210px;
}

#photographer.on {
	background: url('images/photographer-on.png');
}

#cake {
	background: url('images/cake-off.png');
	width: 266px;
	height: 46px;
	cursor: pointer;
	position: absolute;
	left: 18px;
	top: 266px;
}

#cake.on {
	background: url('images/cake-on.png');
}


#catering {
	background: url('images/catering-off.png');
	width: 266px;
	height: 46px;
	cursor: pointer;
	position: absolute;
	left: 18px;
	top: 322px;
}

#catering.on {
	background: url('images/catering-on.png');
}


#florist {
	background: url('images/florist-off.png');
	width: 266px;
	height: 46px;
	cursor: pointer;
	position: absolute;
	left: 18px;
	top: 378px;
}

#florist.on {
	background: url('images/florist-on.png');
}

#stationery {
	background: url('images/stationery-off.png');
	width: 266px;
	height: 46px;
	cursor: pointer;
	position: absolute;
	left: 18px;
	top: 434px;
}

#stationery.on {
	background: url('images/stationery-on.png');
}

#planning {
	background: url('images/planning-off.png');
	width: 266px;
	height: 46px;
	cursor: pointer;
	position: absolute;
	left: 18px;
	top: 490px;
}

#planning.on {
	background: url('images/planning-on.png');
}





